In [1]:
print("Hello World")

Hello World

In [8]:
name="rakesh"
print(name,"\n")
name

rakesh

'rakesh'

In [12]:
print("Sum of 5+2 is:",(5+2))
print("Sub of 5-2 is:",(5-2))
print("Mul of 5*2 is:",(5*2))
print("Div of 5/2 is:",(5/2))
print("Modulo of 5/2 is:",(5%2))#shows the remainder
print("Power of 5^2 is:",(5**2))#gives power
print("Integral Part of 5//2 is:",(5//2))#gives the integral part

Sum of 5+2 is: 7
Sub of 5-2 is: 3
Mul of 5*2 is: 10
Div of 5/2 is: 2.5
Modulo of 5/2 is: 1
Power of 5^2 is: 25
Integral Part of 5//2 is: 2

In [14]:
print("1+2-3*6:",((1+2-3)*6)) #follows the BODMAS rule

1+2-3*6: 0

In [19]:
fname="Debasish"
lname="Mahana"
print(fname+" "+lname,"\n")
#format specifier
print("%s %s %s"%("The god of cricket is",fname,lname))

Debasish Mahana

The god of cricket is Debasish Mahana

In [21]:
#this is my personal data
'''Thos is my Portfolio Data Storage'''

'Thos is my Portfolio Data Storage'

In [71]:
a=[1,2,3,4,5]
print(a,"\n")
str=["ram","dam","sham","aliar","amar"]
print(str,"\n")
print(str[1],"\n")
str.append(8)
print(str,"\n")
str.insert(2,"Rahim")
print(str,"\n")
str.remove("sham")
print(str,"\n")
del str[4]
print(str,"\n")
print(str[0:3],"\n")
print(str[1:])

[1, 2, 3, 4, 5]

['ram', 'dam', 'sham', 'aliar', 'amar']

dam

['ram', 'dam', 'sham', 'aliar', 'amar', 8]

['ram', 'dam', 'Rahim', 'sham', 'aliar', 'amar', 8]

['ram', 'dam', 'Rahim', 'aliar', 'amar', 8]

['ram', 'dam', 'Rahim', 'aliar', 8]

['ram', 'dam', 'Rahim']

['dam', 'Rahim', 'aliar', 8]

In [35]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']
print (list,"\n") # Prints complete list
print (list[0],"\n") # Prints first element of the list
print (list[1:3],"\n") # Prints elements starting from 2nd till 3rd
print (list[2:],"\n") # Prints elements starting from 3rd element
print (tinylist * 2,"\n") # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]

abcd

[786, 2.23]

[2.23, 'john', 70.2]

[123, 'john', 123, 'john']

['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [47]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )
tinytuple = (123, 'john')
print (tuple,"\n") # Prints complete list
print (tuple[0],"\n") # Prints first element of the list
print (tuple[1:3],"\n") # Prints elements starting from 2nd till 3rd
print (tuple[2:],"\n") # Prints elements starting from 3rd element
print (tinytuple * 2,"\n") # Prints list two times
print (tuple + tinytuple,"\n") # Prints concatenated lists

('abcd', 786, 2.23, 'john', 70.2)

abcd

(786, 2.23)

(2.23, 'john', 70.2)

(123, 'john', 123, 'john')

('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [53]:
dict = {}
dict['one'] = "This is one"
dict[2] = "This is two"
tinydict = {'name': 'john','code':6734, 'dept': 'sales'}
print (dict['one'],"\n") # Prints value for 'one' key
print (dict[2],"\n") # Prints value for 2 key
print (tinydict,"\n") # Prints complete dictionary
print (tinydict.keys(),"\n") # Prints all the keys
print (tinydict.values(),"\n") # Prints all the values

This is one

This is two

{'name': 'john', 'code': 6734, 'dept': 'sales'}

dict_keys(['name', 'code', 'dept'])

dict_values(['john', 6734, 'sales'])

In [76]:
'''Basic Operator'''
a = 21
b = 10
c = 0
c = a + b
print ("Line 1 - Value of c is ", c)
c = a - b
print ("Line 2 - Value of c is ", c)
c = a * b
print ("Line 3 - Value of c is ", c)
c = a / b
print ("Line 4 - Value of c is ", c)
c = a % b
print ("Line 5 - Value of c is ", c)
a = 2
b = 3
c = a**b
print ("Line 6 - Value of c is ", c)
a = 10
b = 5
c = a//b
print ("Line 7 - Value of c is ", c)

Line 1 - Value of c is  31
Line 2 - Value of c is  11
Line 3 - Value of c is  210
Line 4 - Value of c is  2.1
Line 5 - Value of c is  1
Line 6 - Value of c is  8
Line 7 - Value of c is  2

In [79]:
a=[1,2,3,4]
b=[5,6,7,8]
c=[a,b]
print(c)
d=a+b
print(d)
print(len(c))#returns lenth
print(len(d))

[[1, 2, 3, 4], [5, 6, 7, 8]]
[1, 2, 3, 4, 5, 6, 7, 8]
2
8

In [83]:
str1=["ram","dam","sham","aliar","1"]
str1.sort()
print(str1)
str1.reverse()
print(str1)

['1', 'aliar', 'dam', 'ram', 'sham']
['sham', 'ram', 'dam', 'aliar', '1']

In [97]:
a=["ram","dam","sham","aliar","gopal"]
b=["ramu","chandan","ravana"]
print(max(a))
c=a+b;
print(min(b))
d=[a,b]
print(d,"\n")
print("================")
print (max(d),"\n")
print(min(d))

sham
chandan
[['ram', 'dam', 'sham', 'aliar', 'gopal'], ['ramu', 'chandan', 'ravana']]

================
['ramu', 'chandan', 'ravana']

['ram', 'dam', 'sham', 'aliar', 'gopal']

In [105]:
'''Tuple'''
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5 );
tup3 = "a", "b", "c", "d";
tup=() #empty tuple
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])
print(tup3)

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)
('a', 'b', 'c', 'd')

In [106]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');
# Following action is not valid for tuples
# tup1[0] = 100;
# So let's create a new tuple as follows
tup3 = tup1 + tup2;
print (tup3);

(12, 34.56, 'abc', 'xyz')

In [125]:
#Dictionary
mydic={1:"ram",2:"hari",3:"rahim"}
print(mydic)
mydic[4]="gopal"
print(mydic)
mydic[1]="sita"
print(mydic)
#get
print(mydic.get(2))
print(mydic.keys())
print(mydic.values())

{1: 'ram', 2: 'hari', 3: 'rahim'}
{1: 'ram', 2: 'hari', 3: 'rahim', 4: 'gopal'}
{1: 'sita', 2: 'hari', 3: 'rahim', 4: 'gopal'}
hari
dict_keys([1, 2, 3, 4])
dict_values(['sita', 'hari', 'rahim', 'gopal'])

In [127]:
#Else -If Statement
a=16
if a>=17:
    print("Above 18")
elif a==16:
    print("age 16")
else:
    print("Invalid Age")

age 16

In [129]:
var1 = 100
if var1:
    print ("1 - Got a true expression value")
    print (var1)
var2 = 0
if var2:
    print ("2 - Got a true expression value")
    print (var2)
print ("Good bye!")

1 - Got a true expression value
100
Good bye!

In [133]:
#If…else Statement
var1 = 100
if var1:
    print ("1 - Got a true expression value")
    print (var1)
else:
    print ("1 - Got a false expression value")
    print (var1)
var2 = 0
if var2:
    print ("2 - Got a true expression value")
    print (var2)
else:
    print ("2 - Got a false expression value")
    print (var2)
print ("Good bye!")

1 - Got a true expression value
100
2 - Got a false expression value
0
Good bye!

In [137]:
#The elif Statement
var = 100
if var == 200:
    print ("1 - Got a true expression value")
    print (var)
elif var == 150:
    print ("2 - Got a true expression value")
    print (var)
elif var == 100:
    print ("3 - Got a true expression value")
    print (var)
else:
    print ("4 - Got a false expression value")
    print (var)
print ("Good bye!")

3 - Got a true expression value
100
Good bye!

In [141]:
#Single Statement Suites
var = 100
if ( var == 100 ) : print ("Value of expression is 100")
print ("Good bye!")

Value of expression is 100
Good bye!