In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk
from sklearn.ensemble import RandomForestClassifier

In [14]:
from sklearn import tree
%matplotlib inline
dataset = pd.read_csv("predicting_cancer.csv")
dataset
dataset.shape

(699, 11)

In [20]:
print(dataset.head())

   CodeNumber  ClumpThickness  UniformityCellSize  UniformityCellShape  \
0     1000025               5                   1                    1
1     1002945               5                   4                    4
2     1015425               3                   1                    1
3     1016277               6                   8                    8
4     1017023               4                   1                    1

   MarginalAdhesion  SingleEpithelialCellSize BareNuclei  BlandChromatin  \
0                 1                         2          1               3
1                 5                         7         10               3
2                 1                         2          2               3
3                 1                         3          4               3
4                 3                         2          1               3

   NormalNucleoli  Mitoses  CancerType
0               1        1           2
1               2        1           2
2               1        1           2
3               7        1           2
4               1        1           2

In [12]:
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
CodeNumber                  699 non-null int64
ClumpThickness              699 non-null int64
UniformityCellSize          699 non-null int64
UniformityCellShape         699 non-null int64
MarginalAdhesion            699 non-null int64
SingleEpithelialCellSize    699 non-null int64
BareNuclei                  699 non-null object
BlandChromatin              699 non-null int64
NormalNucleoli              699 non-null int64
Mitoses                     699 non-null int64
CancerType                  699 non-null int64
dtypes: int64(10), object(1)
memory usage: 60.1+ KB
None

In [16]:
print(dataset.describe())

         CodeNumber  ClumpThickness  UniformityCellSize  UniformityCellShape  \
count  6.990000e+02      699.000000          699.000000           699.000000
mean   1.071704e+06        4.417740            3.134478             3.207439
std    6.170957e+05        2.815741            3.051459             2.971913
min    6.163400e+04        1.000000            1.000000             1.000000
25%    8.706885e+05        2.000000            1.000000             1.000000
50%    1.171710e+06        4.000000            1.000000             1.000000
75%    1.238298e+06        6.000000            5.000000             5.000000
max    1.345435e+07       10.000000           10.000000            10.000000

       MarginalAdhesion  SingleEpithelialCellSize  BlandChromatin  \
count        699.000000                699.000000      699.000000
mean           2.806867                  3.216023        3.437768
std            2.855379                  2.214300        2.438364
min            1.000000                  1.000000        1.000000
25%            1.000000                  2.000000        2.000000
50%            1.000000                  2.000000        3.000000
75%            4.000000                  4.000000        5.000000
max           10.000000                 10.000000       10.000000

       NormalNucleoli     Mitoses  CancerType
count      699.000000  699.000000  699.000000
mean         2.866953    1.589413    2.689557
std          3.053634    1.715078    0.951273
min          1.000000    1.000000    2.000000
25%          1.000000    1.000000    2.000000
50%          1.000000    1.000000    2.000000
75%          4.000000    1.000000    4.000000
max         10.000000   10.000000    4.000000

In [17]:
dataset["CodeNumber"].value_counts()

1182404    6
1276091    5
1198641    3
466906     2
1116116    2
1070935    2
385103     2
1293439    2
1240603    2
1277792    2
1168736    2
560680     2
1174057    2
822829     2
320675     2
897471     2
1114570    2
1339781    2
654546     2
704097     2
1017023    2
734111     2
1354840    2
769612     2
411453     2
1158247    2
1321942    2
1061990    2
733639     2
1218860    2
          ..
1096352    1
255644     1
1201870    1
1169049    1
1041043    1
1190546    1
1071760    1
797327     1
1293966    1
1214092    1
1184241    1
432809     1
1201834    1
1125035    1
888523     1
1182410    1
640712     1
1018561    1
1336798    1
1091262    1
1173216    1
1286943    1
1319609    1
1172152    1
558538     1
1207986    1
1302428    1
857774     1
1181356    1
625201     1
Name: CodeNumber, Length: 645, dtype: int64

In [18]:
dataset["ClumpThickness"].value_counts()

1     145
5     130
3     108
4      80
10     69
2      50
8      46
6      34
7      23
9      14
Name: ClumpThickness, dtype: int64

In [21]:
dataset["UniformityCellSize"].value_counts()

1     384
10     67
3      52
2      45
4      40
5      30
8      29
6      27
7      19
9       6
Name: UniformityCellSize, dtype: int64

In [22]:
x=dataset.drop("CancerType",axis=1)#axis is used to divide column in vertical
y=dataset["CancerType"]

In [23]:
dataset

,CodeNumber,ClumpThickness,UniformityCellSize,UniformityCellShape,MarginalAdhesion,SingleEpithelialCellSize,BareNuclei,BlandChromatin,NormalNucleoli,Mitoses,CancerType
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
5,1017122,8,10,10,8,7,10,9,7,1,4
6,1018099,1,1,1,1,2,10,3,1,1,2
7,1018561,2,1,2,1,2,1,3,1,1,2
8,1033078,2,1,1,1,2,1,1,1,5,2
9,1033078,4,2,1,1,2,1,2,1,1,2
10,1035283,1,1,1,1,1,1,3,1,1,2
11,1036172,2,1,1,1,2,1,2,1,1,2
12,1041801,5,3,3,3,2,3,4,4,1,4
13,1043999,1,1,1,1,2,3,3,1,1,2
14,1044572,8,7,5,10,7,9,5,5,4,4
15,1047630,7,4,6,4,6,1,4,3,1,4
16,1048672,4,1,1,1,2,1,2,1,1,2
17,1049815,4,1,1,1,2,1,3,1,1,2
18,1050670,10,7,7,6,4,10,4,1,2,4
19,1050718,6,1,1,1,2,1,3,1,1,2
20,1054590,7,3,2,10,5,10,5,4,4,4
21,1054593,10,5,5,3,6,7,7,10,1,4
22,1056784,3,1,1,1,2,1,2,1,1,2
23,1057013,8,4,5,1,2,?,7,3,1,4
24,1059552,1,1,1,1,2,1,3,1,1,2
25,1065726,5,2,3,4,2,7,3,6,1,4
26,1066373,3,2,1,1,1,1,2,1,1,2
27,1066979,5,1,1,1,2,1,2,1,1,2
28,1067444,2,1,1,1,2,1,2,1,1,2
29,1070935,1,1,3,1,2,1,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
669,1350423,5,10,10,8,5,5,7,10,1,4
670,1352848,3,10,7,8,5,8,7,4,1,4
671,1353092,3,2,1,2,2,1,3,1,1,2
672,1354840,2,1,1,1,2,1,3,1,1,2
673,1354840,5,3,2,1,3,1,1,1,1,2
674,1355260,1,1,1,1,2,1,2,1,1,2
675,1365075,4,1,4,1,2,1,1,1,1,2
676,1365328,1,1,2,1,2,1,2,1,1,2
677,1368267,5,1,1,1,2,1,1,1,1,2
678,1368273,1,1,1,1,2,1,1,1,1,2
679,1368882,2,1,1,1,2,1,1,1,1,2
680,1369821,10,10,10,10,5,10,10,10,7,4
681,1371026,5,10,10,10,4,10,5,6,3,4
682,1371920,5,1,1,1,2,1,3,2,1,2
683,466906,1,1,1,1,2,1,1,1,1,2
684,466906,1,1,1,1,2,1,1,1,1,2
685,534555,1,1,1,1,2,1,1,1,1,2
686,536708,1,1,1,1,2,1,1,1,1,2
687,566346,3,1,1,1,2,1,2,3,1,2
688,603148,4,1,1,1,2,1,1,1,1,2
689,654546,1,1,1,1,2,1,1,1,8,2
690,654546,1,1,1,3,2,1,1,1,1,2
691,695091,5,10,10,5,4,5,4,4,1,4
692,714039,3,1,1,1,2,1,1,1,1,2
693,763235,3,1,1,1,2,1,2,1,2,2
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [39]:
from sklearn import tree
validation_size=0.20   #test on 20% dataset & train on 80%
seed=7 #to avoid randomness value
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=validation_size,random_state=seed)

In [40]:
y_train.head()

319    2
132    4
148    2
545    2
48     2
Name: CancerType, dtype: int64

In [41]:
x_train.head()

,CodeNumber,ClumpThickness,UniformityCellSize,UniformityCellShape,MarginalAdhesion,SingleEpithelialCellSize,BareNuclei,BlandChromatin,NormalNucleoli,Mitoses
319,721482,4,4,4,4,6,5,7,3,1
132,1180194,5,10,8,10,8,10,3,6,3
148,1187457,3,1,1,3,8,1,5,8,1
545,1197527,5,1,1,1,2,1,2,1,1
48,1106095,4,1,1,3,2,1,3,1,1

In [42]:
clf=RandomForestClassifier()
clf=clf.fit(x_train,y_train)

ValueError: could not convert string to float: '?'

In [49]:
dataset=dataset[dataset["BareNuclei"]!="?"]

In [50]:
x=dataset.drop("CancerType",axis=1)#axis is used to divide column in vertical
y=dataset["CancerType"]

In [51]:
from sklearn import tree
validation_size=0.20   #test on 20% dataset & train on 80%
seed=7 #to avoid randomness value
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=validation_size,random_state=seed)

In [52]:
clf=RandomForestClassifier()
clf=clf.fit(x_train,y_train)

In [55]:
predictions = (clf.predict(x_test))
predictions

array([4, 4, 2, 2, 4, 4, 4, 4, 2, 4, 2, 2, 2, 4, 2, 2, 2, 4, 2, 2, 2, 4, 4,
       2, 2, 2, 4, 2, 4, 2, 2, 2, 4, 4, 2, 4, 2, 2, 2, 4, 4, 4, 2, 2, 4, 2,
       2, 2, 4, 2, 4, 2, 2, 4, 2, 4, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 4, 4, 2, 4, 2, 2, 2, 2, 4, 4, 2, 2, 2, 2, 4, 2, 2, 4,
       2, 4, 2, 4, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4,
       4, 4, 2, 4, 2, 2, 2, 4, 4, 4, 4, 2, 2, 2, 2, 4, 2, 4, 2, 4, 4, 4], dtype=int64)

In [56]:
from sklearn.metrics import accuracy_score,confusion_matrix
print(accuracy_score(y_test,predictions))

0.992700729927

In [57]:
print(confusion_matrix(y_test,predictions))

[[88  1]
 [ 0 48]]