In [13]:
import pandas as pd 
import numpy as np

In [14]:
sal=pd.read_csv("Salaries.csv")

C:\Users\nEW u\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
sal.head(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

In [16]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148049 non-null object
OvertimePay         148654 non-null object
OtherPay            148654 non-null object
Benefits            112495 non-null object
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [17]:
sal["BasePay"].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [23]:
sal["OvertimePay"].max()

TypeError: '>=' not supported between instances of 'float' and 'str'

In [22]:
sal["JobTitle"]

0           GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                          CAPTAIN III (POLICE DEPARTMENT)
2                          CAPTAIN III (POLICE DEPARTMENT)
3                     WIRE ROPE CABLE MAINTENANCE MECHANIC
4             DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5                                ASSISTANT DEPUTY CHIEF II
6                       BATTALION CHIEF, (FIRE DEPARTMENT)
7                           DEPUTY DIRECTOR OF INVESTMENTS
8                       BATTALION CHIEF, (FIRE DEPARTMENT)
9                   CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
10        ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
11                         CAPTAIN III (POLICE DEPARTMENT)
12                             EXECUTIVE CONTRACT EMPLOYEE
13                                       DEPARTMENT HEAD V
14                      BATTALION CHIEF, (FIRE DEPARTMENT)
15                      COMMANDER III, (POLICE DEPARTMENT)
16                                       DEPARTMENT HEAD V
17                   CAPTAIN, EMERGENCYCY MEDICAL SERVICES
18                      BATTALION CHIEF, (FIRE DEPARTMENT)
19                              ASSISTANT MEDICAL EXAMINER
20                              ASSISTANT MEDICAL EXAMINER
21                              ASSISTANT MEDICAL EXAMINER
22                               CAPTAIN, FIRE SUPPRESSION
23                      BATTALION CHIEF, (FIRE DEPARTMENT)
24                               CAPTAIN, FIRE SUPPRESSION
25                                         CHIEF OF POLICE
26                               CAPTAIN, FIRE SUPPRESSION
27                      BATTALION CHIEF, (FIRE DEPARTMENT)
28                    DEPUTY CHIEF III (POLICE DEPARTMENT)
29            DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                                ...
148624                                        Senior Clerk
148625                                    Registered Nurse
148626                                       Account Clerk
148627                                     General Laborer
148628                                     General Laborer
148629                                  Transcriber Typist
148630                                           Carpenter
148631                         Communications Dispatcher 1
148632                          Protective Services Worker
148633                                     General Laborer
148634                                 Transit Car Cleaner
148635                                     General Laborer
148636                                 Arborist Technician
148637                              Transit Fare Inspector
148638                                         Electrician
148639                                           Custodian
148640                             Parking Control Officer
148641                                        Museum Guard
148642                                         Sign Worker
148643                             Parking Control Officer
148644                        Stationary Eng, Sewage Plant
148645                           Human Services Technician
148646                                        Not provided
148647                         Communications Dispatcher 2
148648                                           Custodian
148649                                           Custodian
148650                                        Not provided
148651                                        Not provided
148652                                        Not provided
148653                          Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object

In [26]:
sal[sal["EmployeeName"]=="JOSEPH DRISCOLL"]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140547,97868.8,31909.3,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

In [27]:
sal[sal["EmployeeName"]=="JOSEPH DRISCOLL"]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [28]:
sal[sal["EmployeeName"]=="JOSEPH DRISCOLL"]["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [29]:
sal["TotalPayBenefits"].max()

567595.43000000005

In [32]:
sal[sal["TotalPayBenefits"]==sal["TotalPayBenefits"].max()]["EmployeeName"]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [38]:
sal.illoc[sal["TotalPayBenefits"].agrmax()]

AttributeError: 'DataFrame' object has no attribute 'illoc'

In [39]:
sal.iloc[sal["TotalPayBenefits"].argmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                   0.00
OvertimePay                               0.00
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148653, dtype: object

In [40]:
sal[sal["TotalPayBenefits"]==sal["TotalPayBenefits"].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [41]:
sal.groupby("Year").mean()["BasePay"]

KeyError: 'BasePay'

In [42]:
sal["JobTitle"].nunique()

2159

In [44]:
sal["JobTitle"].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [46]:
sal[sal["Year"]==2013]["JobTitle"].value_counts().head(5)

Transit Operator                2295
Special Nurse                   1445
Registered Nurse                1231
Public Svc Aide-Public Works     859
Custodian                        789
Name: JobTitle, dtype: int64

In [48]:
sum(sal[sal["Year"]==2013]["JobTitle"].value_counts()==1)

202

In [58]:
#how may pepople have word chief in thier job title
def chief_string(title):
    if "chief" in title.lower.split():
        return True
    else:
        return False

In [60]:
chief_string("CHIEF MANAGER-METROPOLITAN TRANSIT AUTHORITY")

AttributeError: 'builtin_function_or_method' object has no attribute 'split'

In [53]:
sal["JobTitle"].iloc[0]

'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'

In [62]:
sal["JobTitle"].apply(lambda x:chief_string(x))

AttributeError: 'builtin_function_or_method' object has no attribute 'split'

In [63]:
sal["title_len"]=sal["JobTitle"].apply(len)

In [64]:
sal[["TotalpayBenefits","title_len"]].corr()

KeyError: "['TotalpayBenefits'] not in index"